.Testimonial {
  display: flex;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  flex-direction: column;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}
.Testimonial-contents {
  text-align: center;
  background-color: #252b48;
  margin: 20px 0px;
  /* width: 1274px; */
  padding-bottom: 40px;
  height: 400px;
}

/* CSS talk bubble */
.Testimonial-talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: #445069;
  color: #ffff;
  width: 400px;
}

.Testimonial-talk-bubble {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/*Right triangle, placed bottom left side slightly in*/
/* .Testimonial-talk-bubble.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
} */
.Testimonial-talk-bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #445069;
}

/* talk bubble contents */
.Testimonial-talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.Testimonial-p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  width: 30px;
}

.Testimonial-info {
  display: flex;
  color: #ffff;
  margin-right: 180px;
  /* position: absolute;
  left: 38%; */
  gap: 20px;
  justify-content: center;
}

/* .Testimonial-text-info{
  margin-right: 255px;
} */

.Testimonial-img {
  border-radius: 40px;
  width: 50px;
  height: 50px;
}

.Testimonial-dividerOne {
  border-bottom: 2px solid #000;
  width: 43%;
  margin-bottom: 13px;
}
.Testimonial-divider {
  display: flex;
  margin-top: 10px;
}

.Testimonial-icon {
  padding-top: 10px;
  text-align: center;
  padding: 10px 30px 0px 30px;
}

.Testimonial-TitleHeading {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
}

/* Add these styles to your existing CSS file or create a new one */

.Testimonial-titleToggleHeading {
  color: #2c2c2c;
  font-size: 15px;
  font-weight: 600;
}

.Testimonial-toggleSwitch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 29px;
}

.Testimonial-toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Testimonial-toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.Testimonial-toggleSlider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.Testimonial-toggleSwitch input:checked + .Testimonial-toggleSlider {
  background-color: #e65925;
}

/* .Testimonial-toggleSwitch input:focus + .Testimonial-toggleSlider {
  box-shadow: 0 0 1px #E65925;
} */

.Testimonial-toggleSwitch input:checked + .Testimonial-toggleSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (min-width: 768px) {
  .Testimonial {
    display: grid;
  }
}
